/* Mobile first Style */
*{
  box-sizing: border-box;
  margin: 0;
}
.tradeDiv {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tradeDiv table{
  box-shadow: 0px 0px 10px 1px rgb(223, 219, 219);
  padding: 20px;
  border-radius: 20px;
  transition: 0.9s linear;
  cursor: pointer;
  /* border-collapse: collapse; */
  border-spacing: 0 10px ;
}

.tradeDiv table:hover{
  box-shadow: 0px 0px 20px 1px rgb(150, 147, 147);
  border-radius: 30px;
  
}
td, th{
  padding: 10px;
  text-align: center;
  transition: 0.5s linear;
}
.tradeDiv tBody tr:nth-child(2n - 1){
  
  background-color: rgb(245, 240, 240);
}

.tradeDiv tBody tr:hover{
  background-color: aliceblue;
  border-radius: 20px;
}
.tradeDiv td.specifyDetails{
  background-color:white;
}
.specifyDetails button{
  cursor: pointer;
  margin: 0px 10px;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgb(223, 221, 221);
  border: 0px;
  background-color: black;
  color: rgb(194, 189, 189);
  transition: 0.8s linear;
}
.specifyDetails button:hover{
  box-shadow: 0px 0px 8px 0px rgb(8, 8, 8);

}

.tradeDiv table{
  display: block;
  max-height: 60vh;
  overflow-y: scroll;
  position: relative;
}

.tradeDiv tbody tr:first-child{
  animation-name: blink;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes blink{
  0%{
    background-color: lightblue;
    color: black;
  }
  100%{
    background-color: lightseagreen;
    color: black
  }
}


